<a href="https://colab.research.google.com/github/simonka0808/AdaptiveSolutionsCorrectCode/blob/main/Cw.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [265]:
import pandas as pd
import numpy as np
from google.colab import drive

In [266]:
drive.mount('/content/gdrive')

Drive already mounted at /content/gdrive; to attempt to forcibly remount, call drive.mount("/content/gdrive", force_remount=True).

In [267]:
Data = pd.read_excel(r'/content/gdrive/My Drive/DB_DATA_VIS/Finland_Airports.xlsx')

In [268]:
Data = Data.transpose()

In [269]:
Data = Data.reset_index()

In [276]:
Data.columns = ['Date', 'All Passengers']

In [277]:
display(Data)

       Date  All Passengers
0   2019M01       1969169.0
1   2019M02       1951842.0
2   2019M03       2203647.0
3   2019M04       2135867.0
4   2019M05       2269401.0
5   2019M06       2355497.0
6   2019M07       2348056.0
7   2019M08       2308374.0
8   2019M09       2268741.0
9   2019M10       2255817.0
10  2019M11       1931553.0
11  2019M12       2269335.0
12  2020M01       2020157.0
13  2020M02       1928437.0
14  2020M03        961820.0
15  2020M04         25223.0
16  2020M05         45432.0
17  2020M06        100798.0
18  2020M07        262614.0
19  2020M08        333429.0
20  2020M09        218062.0
21  2020M10        196389.0
22  2020M11        171020.0
23  2020M12        199059.0
24  2021M01        180064.0
25  2021M02        166614.0
26  2021M03        167821.0
27  2021M04        154858.0
28  2021M05        155158.0
29  2021M06        248770.0
30  2021M07        422646.0
31  2021M08        522456.0
32  2021M09        578838.0
33  2021M10        772566.0
34  2021M11        858229.0
35  2021M12       1205058.0
36  2022M01        818573.0
37  2022M02        829174.0
38  2022M03       1080033.0
39  2022M04       1131132.0
40  2022M05       1321411.0
41  2022M06       1479037.0
42  2022M07       1565272.0

In [259]:
display(Data)

      index          0
0   2019M01  1969169.0
1   2019M02  1951842.0
2   2019M03  2203647.0
3   2019M04  2135867.0
4   2019M05  2269401.0
5   2019M06  2355497.0
6   2019M07  2348056.0
7   2019M08  2308374.0
8   2019M09  2268741.0
9   2019M10  2255817.0
10  2019M11  1931553.0
11  2019M12  2269335.0
12  2020M01  2020157.0
13  2020M02  1928437.0
14  2020M03   961820.0
15  2020M04    25223.0
16  2020M05    45432.0
17  2020M06   100798.0
18  2020M07   262614.0
19  2020M08   333429.0
20  2020M09   218062.0
21  2020M10   196389.0
22  2020M11   171020.0
23  2020M12   199059.0
24  2021M01   180064.0
25  2021M02   166614.0
26  2021M03   167821.0
27  2021M04   154858.0
28  2021M05   155158.0
29  2021M06   248770.0
30  2021M07   422646.0
31  2021M08   522456.0
32  2021M09   578838.0
33  2021M10   772566.0
34  2021M11   858229.0
35  2021M12  1205058.0
36  2022M01   818573.0
37  2022M02   829174.0
38  2022M03  1080033.0
39  2022M04  1131132.0
40  2022M05  1321411.0
41  2022M06  1479037.0
42  2022M07  1565272.0

In [260]:
# total_2019 = Data[0].loc[0:11].sum()
# total_2020 = Data[0].loc[11:23].sum()
# total_2021 = Data[0].loc[24:35].sum()
# total_2022 = Data[0].loc[36:42].sum()

In [261]:
# print("Total 2019:" , total_2019)
# print("Total 2020:" , total_2020)
# print("Total 2021:" , total_2021)
# print("Total 2022:" ,total_2022)

In [262]:
Data['total 2019']= Data[0].loc[0:11].sum()
Data['total 2020']= Data[0].loc[11:23].sum()
Data['total 2021']= Data[0].loc[24:35].sum()
Data['total 2022']= Data[0].loc[36:42].sum()

In [263]:
display(Data)
Data[2]

      index          0  total 2019  total 2020  total 2021  total 2022
0   2019M01  1969169.0  26267299.0   8731775.0   5433078.0   8224632.0
1   2019M02  1951842.0  26267299.0   8731775.0   5433078.0   8224632.0
2   2019M03  2203647.0  26267299.0   8731775.0   5433078.0   8224632.0
3   2019M04  2135867.0  26267299.0   8731775.0   5433078.0   8224632.0
4   2019M05  2269401.0  26267299.0   8731775.0   5433078.0   8224632.0
5   2019M06  2355497.0  26267299.0   8731775.0   5433078.0   8224632.0
6   2019M07  2348056.0  26267299.0   8731775.0   5433078.0   8224632.0
7   2019M08  2308374.0  26267299.0   8731775.0   5433078.0   8224632.0
8   2019M09  2268741.0  26267299.0   8731775.0   5433078.0   8224632.0
9   2019M10  2255817.0  26267299.0   8731775.0   5433078.0   8224632.0
10  2019M11  1931553.0  26267299.0   8731775.0   5433078.0   8224632.0
11  2019M12  2269335.0  26267299.0   8731775.0   5433078.0   8224632.0
12  2020M01  2020157.0  26267299.0   8731775.0   5433078.0   8224632.0
13  2020M02  1928437.0  26267299.0   8731775.0   5433078.0   8224632.0
14  2020M03   961820.0  26267299.0   8731775.0   5433078.0   8224632.0
15  2020M04    25223.0  26267299.0   8731775.0   5433078.0   8224632.0
16  2020M05    45432.0  26267299.0   8731775.0   5433078.0   8224632.0
17  2020M06   100798.0  26267299.0   8731775.0   5433078.0   8224632.0
18  2020M07   262614.0  26267299.0   8731775.0   5433078.0   8224632.0
19  2020M08   333429.0  26267299.0   8731775.0   5433078.0   8224632.0
20  2020M09   218062.0  26267299.0   8731775.0   5433078.0   8224632.0
21  2020M10   196389.0  26267299.0   8731775.0   5433078.0   8224632.0
22  2020M11   171020.0  26267299.0   8731775.0   5433078.0   8224632.0
23  2020M12   199059.0  26267299.0   8731775.0   5433078.0   8224632.0
24  2021M01   180064.0  26267299.0   8731775.0   5433078.0   8224632.0
25  2021M02   166614.0  26267299.0   8731775.0   5433078.0   8224632.0
26  2021M03   167821.0  26267299.0   8731775.0   5433078.0   8224632.0
27  2021M04   154858.0  26267299.0   8731775.0   5433078.0   8224632.0
28  2021M05   155158.0  26267299.0   8731775.0   5433078.0   8224632.0
29  2021M06   248770.0  26267299.0   8731775.0   5433078.0   8224632.0
30  2021M07   422646.0  26267299.0   8731775.0   5433078.0   8224632.0
31  2021M08   522456.0  26267299.0   8731775.0   5433078.0   8224632.0
32  2021M09   578838.0  26267299.0   8731775.0   5433078.0   8224632.0
33  2021M10   772566.0  26267299.0   8731775.0   5433078.0   8224632.0
34  2021M11   858229.0  26267299.0   8731775.0   5433078.0   8224632.0
35  2021M12  1205058.0  26267299.0   8731775.0   5433078.0   8224632.0
36  2022M01   818573.0  26267299.0   8731775.0   5433078.0   8224632.0
37  2022M02   829174.0  26267299.0   8731775.0   5433078.0   8224632.0
38  2022M03  1080033.0  26267299.0   8731775.0   5433078.0   8224632.0
39  2022M04  1131132.0  26267299.0   8731775.0   5433078.0   8224632.0
40  2022M05  1321411.0  26267299.0   8731775.0   5433078.0   8224632.0
41  2022M06  1479037.0  26267299.0   8731775.0   5433078.0   8224632.0
42  2022M07  1565272.0  26267299.0   8731775.0   5433078.0   8224632.0

KeyError: ignored

In [ ]:
# Data_2019_2022['2022: Total air arrivals'] = pd.to_numeric(Data_2019_2022['2022: Total air arrivals'], errors='coerce').fillna(0).astype(int)

In [ ]:
sums = Data_2019_2022.select_dtypes(pd.np.number).sum().rename('Total All UK Airports')
Data_2019_2022 = Data_2019_2022.append(sums)

In [ ]:
Data_2019_2022.columns = ['2019', '2020', '2021','2022']

In [ ]:
Data_2019_2022= Data_2019_2022.transpose()

In [ ]:
Data_2019_2022 = Data_2019_2022 [['Total All UK Airports']]

In [ ]:
display(Data_2019_2022)

In [ ]:
display(Data_2019_2022)

In [ ]:
Data.head()

In [ ]:
df = Data.transpose()
# display(pd.DataFrame(df))
updated_df = df.drop('Unnamed: 0')
# print(updated_df)
updated_df.columns = ['Total All UK Airports', 'All London airports', 'Other UK Airports']
updated_df.head()

In [ ]:
display(Data_2019_2022)

In [ ]:
updated_df = updated_df[['Total All UK Airports']]

In [ ]:
from pandas._libs.lib import u8max
display(updated_df)

In [ ]:
main_df = updated_df.append(Data_2019_2022, ignore_index=True)

In [ ]:
display(main_df)